# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Dependencies
node_modules/
vendor/

# Environment variables
.env
.env.*
pizza-be-secrets.yaml

# Build / Dist
dist/
build/
out/

# IDE / Editor
.vscode/
.idea/
*.swp

# Cache
.cache/
.tmp/

# Source Code
source